<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
 <nav>
     <h4>Pizza </h4>
     <ul>
         <li><a href="/">Home</a></li>
         <li><a href="/pizza">Pizza</a></li>
         {{!-- <li><a href="/about">About</a></li> --}}
     </ul>
 </nav>

 <div class="container mt-4">
 <div class="card">
  <div class="card-header">
  Datele de contact
  </div>
  <div class="card-body">
  <form action="/auth/forms" method="POST">
  <div class="form-group">
    <label for="fname">Nume</label>
    <input type="text" class="form-control" id="fname" name="fname" >
  </div>
  <div class="form-group">
    <label for="lname">Prenume</label>
    <input type="text" class="form-control" id="lname" name="lname" >
  </div>
    <div class="form-group">
    <label for="phone">Telefon</label>
    <input type="text" class="form-control" id="phone" name="phone" >
  </div>
  <div class="form-group">
    <label for="email">Adresa de Email</label>
    <input type="email" class="form-control" id="email" name="email">
  </div>
  <div class="form-group">
    <label for="addres">Adresa</label>
    <input type="addres" class="form-control" id="address" name="addres">
  </div>

  <button type="submit" class="btn btn-primary">Trimite</button>
  {{#if message}}
  <h4 class="alert alert-danger mt-4">{{message}}</h4>
  {{/if}}
</form>
  </div>
</div>
 </div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

</body>
</html>